*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
   background-color:#032c62!important;
} */
h1{
    text-shadow:  2px 4px #000000;
}

#results{
    display: none;
}

 input{
     max-width: 400px;
    
 }
 
 #card-container  {
     margin: 0px auto;
     max-width: 1400px;
 }
 

 .phone-card img {
     width: 20vh;
     border-radius: 2.6vh;
     filter: drop-shadow(0px 5px 3px black);
     animation: drop 1.5s ease;
 }
 .phone-container{
     margin: 0px auto;
     max-width: 1000px;
 }
 .phone-details  img {
     width: 28vh;
     border-radius: 3.9vh;
     filter: drop-shadow(0px 5px 3px black);
     animation: drop 1.7s ease;
 }
 .phone-details {

     margin: 0px auto;
    
     max-width: 750px;
    
 }
 .phone-details h6{
     font-size: 18px;
 }
 .phone-details p{
     line-height: 2.7vh;
 }
 .phone-details span{
     font-size: 18px;
     font-weight: 450;
 }

    
    
    
 
 footer{
     
     /* margin: 600px 0px 0px 0px; */
     /* top: 100px;; */
     padding: 200px 0px 0px 0px;
     text-align: center;
 }
 @keyframes drop {
     0%{
         opacity: 0;
         transform: translateY(-100px);
     }
     100%{
        opacity: 1;
        transform: translateY(0px);
     }
 }