*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
   background-color:#032c62!important;
} */
h1{
    text-shadow:  2px 4px #000000;
}


 input{
     max-width: 400px;
    
 }
 .card-section{
     position: relative;
     margin-bottom: 200px;
 }
 #card-container{
     margin: 0px auto;
     max-width: 1400px;
 }
 /* .phone-card {
     background-color: #032c62;
 } */
 .phone-card img {
     width: 20vh;
     border-radius: 2.6vh;
 }
 .modal-container{
    
     max-width:80vh!important;
 }
 footer{
     
     /* margin: 600px 0px 0px 0px; */
     /* top: 100px;; */
     padding: 200px 0px 0px 0px;
     text-align: center;
 }